<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxy.store.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.gxy.store.entity.Store">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    store_id, `name`, `describe`, merchant_id
  </sql>
</mapper>