<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxy.store.mapper.StoreMapper">
    <resultMap id="BaseResultMap" type="com.gxy.store.entity.Store">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="store_id" jdbcType="BIGINT" property="storeId"/>
        <result column="goodsName" jdbcType="VARCHAR" property="name"/>
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="merchant_id" jdbcType="BIGINT" property="merchantId"/>
    </resultMap>
    <resultMap id="StoreDTOResultMap" type="com.gxy.store.dto.StoreDTO">
        <result property="storeId" column="store_id"/>
        <result property="name" column="name"/>
        <result property="describe" column="describe"/>
        <result property="merchantId" column="merchant_id"/>
        <collection property="storeGoodsList" resultMap="com.gxy.store.mapper.StoreGoodsMapper.BaseResultMap"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        store_id, `name`, `describe`, merchant_id
    </sql>

    <select id="findOneByStoreId" resultMap="StoreDTOResultMap">
        select store.store_id,
               store.name,
               store.describe,
               store.merchant_id,
               store_goods.goods_id,
               store_goods.goods_name,
               store_goods.price,
               store_goods.inventory,
               store_goods.store_id
        from `store`
                 left join store_goods on store.store_id = store_goods.store_id
        where store.store_id = #{storeId,jdbcType=BIGINT}
    </select>
</mapper>